/* Styles généraux */
body {
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  text-align: center; /* Ajouté pour centrer le texte */
}

/* Entête */
.header {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
}

.header-subtitle {
  font-size: 1.5rem;
  color: gray;
  margin-top: 0.5rem;
}

/* Menu de navigation */
.nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.nav-button {
  background-color: #ff5c5c;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #ff2a2a;
}

/* Contenu principal */
.main-content {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

/* Sections */
.section {
  display: none;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.card {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

.section-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

/* Footer avec les boutons de langue */
.footer {
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.language-buttons {
  position: fixed;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.lang-button {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.lang-button:hover {
  color: #ff5c5c;
}

.email-link {
  color: #ff5c5c;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

/* Masquer les sections invisibles */
.hidden {
  display: none;
}
